.box4{
    background-color: aquamarine;
    height: 400px;
    padding-left: 40px;
    margin-left: 25px;
    font-size: 25px;
}
.box4>.box5{
    background-color: yellow;
    height: 200px;
    
    font-size: 2rem;
    width: 70%;
    
}
.box5>.box6{
    background-color:green;
    height: 100px;
    margin-left: 50px;
    font-size: 2rem;
    width: 50%
}